# Folders with compiled files
out/
target/

# Folder of IntelliJ IDEA project
#.idea/

# Folder with database files
data/

# IntelliJ IDEA project file
#simple-rss.iml

# Folders of built classes and libs
web/WEB_INF/classes
