/**
 * Channel's page layouts
 */

#header {
    min-height: 40px;
    background-color: #f1f1f1;
}

#main-wrap {
    background-color: #D9D9D9;

    overflow: hidden;
}

#main-wrap > div {
    min-height: 550px;
}

#sidebar {
    background-color: #d2d2d2;

    float: left;
    width: 30%;
}

#content-wrap {
    background-color: #c5c5c5;

    float: right;
    width: 70%;

    position: relative;
}

#feed-pagination {
    background-color: cadetblue;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    height: 50px;

    width: 100%;
}

#footer {
    background-color: #f1f1f1;
    overflow: hidden;
}

#footer > div {
    min-height: 250px;
}

#channel-desc {
    background-color: #c5c5c5;

    float: left;
    width: 40%;
}

#feed-desc {
    background-color: #d2d2d2;

    float: left;
    width: 60%;
}

/* Table for selected channel description */
#channelInfo {
    margin-top: 5px;
    width: 97%;
    background-color: #c5c5c5;

    border: 1px solid lightgoldenrodyellow;
    border-collapse: collapse;
}

#channelInfo th, td {
    padding: 3px;
    cursor: pointer;
}

#channelInfo th {
    color: white;
    background-color: cornflowerblue;

    border: 1px solid lightgoldenrodyellow;
}

#channelInfo td {
    border: 0;
}

/* Table for operations on RSS-channels */
#rssOperation {
    width: 460px;

    border: 1px solid darkgray;
    border-collapse: collapse;
}

#rssOperation th {
    color: white;
    background-color: cornflowerblue;

    border: 1px solid darkgray;
}

/*
#rssOperation th, td {
    padding: 3px;
}
*/

#rssOperation td {
    border: 0;
}

/* Table for RSS-channels list */
#rssList {
    width: 97%;
    margin: 5px auto;
    background-color: #d2d2d2;

    border-collapse: collapse;
}

#rssList tr td:nth-child(2), #rssList th:nth-child(2),
    #rssList td:nth-child(3), #rssList th:nth-child(3),
    #rssList td:nth-child(4), #rssList th:nth-child(4)
{
    display: none;
}

#rssList th, td {
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

#rssList th {
     color: white;
     background-color: lightsalmon;
}

#rssList tr.selected {
    background-color: brown;
    color: #FFF;
}

/* Table for RSS-feeds */
#rssFeed {
    width: 97%;
    margin: 5px auto;
    background-color: #c5c5c5;

    border-collapse: collapse;
}

#rssFeed td, #top-th, #left-th, #right-th {
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

#top-th {
    color: white;
    background-color: darkslateblue;
    font-weight: bold;
}

#left-th, #right-th {
    font-weight: normal;
    color: #fffef0;
    background-color: #8b647f;
}

#left-th {
    width: 25%;
}

#right-th {
    width: 75%;
}

#rssFeed tr.selected {
    background-color: brown;
    color: #FFF;
}