/**
 * Channel's page layouts
 */

#top-block {
    background-color: #d2d2d2;
    overflow: hidden;
}

#top-block > div {
    min-height: 60px;
}

#header {
    background-color: #f1f1f1;
    overflow: hidden;
}

#header > div {
    min-height: 150px;
}

#channel-operation {
    background-color: #c2d9c3;

    float: left;
    width: 34%;
}

#feed-operation {
    background-color: #d5ced9;

    float: left;
    width: 33%;
}

#search {
    background-color: #d9cabc;

    float: left;
    width: 33%;
}

#main-wrap {
    background-color: #d2d2d2;

    overflow: hidden;
}

#main-wrap > div {
    min-height: 550px;
}

#sidebar {
    background-color: #d2d2d2;

    float: left;
    /* width: 30%; */
    width: 34%;
}

#content-wrap {
    background-color: #c5c5c5;

    float: right;
    /* width: 70%; */
    width: 66%;

    position: relative;
}

#feed-pagination {
    background-color: cadetblue;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    height: 50px;

    width: 100%;
}

#footer {
    background-color: #f1f1f1;
    overflow: hidden;
}

#footer > div {
    min-height: 250px;
}

#channel-desc {
    background-color: #c5c5c5;

    float: left;
    /* width: 40%; */
    width: 34%;
}

#feed-desc {
    background-color: #d2d2d2;

    float: left;
    /* width: 60%; */
    width: 66%;
}
#topInfo {
    margin-top: 5px;
    margin-bottom: 5px;

    width: 98%;

    border: 1px solid darkgray;
    border-collapse: collapse;
}

#topInfo td {
    border: 0;
}

/* Table for operations on RSS-feeds */
.controlTable {
    margin-top: 5px;
    width: 97%;

    border: 1px solid darkgray;
    border-collapse: collapse;
}

.controlTable td, .ct-caption-th, .ct-group-th, .ct-left-td, .ct-right-td {
    padding: 3px;
}

.ct-caption-th {
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;

    border: 1px solid darkgray;
}

.controlTable td, .ct-group-th, .ct-left-td, .ct-right-td {
    border: 0;
}

.ct-group-th {
    font-weight: bold;
}

.ct-left-td {
    width: 30%;
    font-weight: bold;
}

.ct-right-td {
    width: 70%;
}

/* Table for operations on RSS-channels */
#rssOperation {
    margin-top: 5px;
    width: 97%;

    border: 1px solid darkgray;
    border-collapse: collapse;
}

#rssOperation td, #caption-th, .oper-left-td, .oper-right-td {
    padding: 3px;
}

#caption-th {
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;

    border: 1px solid darkgray;
}
#rssOperation td, .oper-left-td, .oper-right-td {
    border: 0;
}

.oper-left-td {
    width: 30%;
    font-weight: bold;
}

.oper-right-td {
    width: 70%;
}

/* Table for selected channel description */
#channelInfo {
    margin-top: 5px;
    width: 97%;
    background-color: #c5c5c5;

    border: 1px solid lightgoldenrodyellow;
    border-collapse: collapse;
}

#channelInfo th, td {
    padding: 3px;
    cursor: pointer;
}

#channelInfo th {
    color: white;
    background-color: cornflowerblue;

    border: 1px solid lightgoldenrodyellow;
}

#channelInfo td {
    border: 0;
}

/* Table for RSS-channels list */
#rssList {
    width: 97%;
    margin: 5px auto;
    background-color: #d2d2d2;

    border-collapse: collapse;
}

#rssList tr td:nth-child(2), #rssList th:nth-child(2),
    #rssList td:nth-child(3), #rssList th:nth-child(3),
    #rssList td:nth-child(4), #rssList th:nth-child(4)
{
    display: none;
}

#rssList th, td {
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

#rssList th {
     color: white;
     background-color: lightsalmon;
}

#rssList tr.selected {
    background-color: brown;
    color: #FFF;
}

/* Table for RSS-feeds */
#rssFeed {
    width: 97%;
    margin: 5px auto;
    background-color: #c5c5c5;

    border-collapse: collapse;
}

#rssFeed td, #top-th, #left-th, #right-th {
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

#top-th {
    color: white;
    background-color: darkslateblue;
    font-weight: bold;
}

#left-th, #right-th {
    font-weight: normal;
    color: #fffef0;
    background-color: #8b647f;
}

#left-th {
    width: 25%;
}

#right-th {
    width: 75%;
}

#rssFeed tr.selected {
    background-color: brown;
    color: #FFF;
}

form {
    display: none;
}
